<article class="post-title">
    <div class="post-main">
        <span class="post-meta">
            <span class="post-date">{{ .Date.Format "January 2006" }}</span>
            {{ if hasPrefix .Description "Published in " }}
            <span class="post-meta-separator">&mdash;</span>
            <span class="post-venue">{{ replaceRE "^Published in " "" .Description }}</span>
            {{ end }}
        </span>
        <a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a>
    </div>
    <div class="flex-break"></div>
    <span class="post-state post-state-{{ .Params.state | urlize }}"><i>{{ .Params.state }}</i></span>
</article>
