<div class="post container">
    <div class="post-header-section">
        <h1>{{ .Title }}</h1>
        <small role="doc-subtitle">{{ .Title }}</small>
        <p class="post-date">
            {{ dateFormat "January, 2006" .Date }}{{ if lt .Date .Lastmod }} | Updated {{ dateFormat "January, 2006" .Lastmod }}{{ end }}
        </p>
        <small role="post-state">{{ .Params.state }}</small>
        
        <ul class="post-tags">
        tags: {{ range .Params.tags }}
            <li class="post-tag"><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
        </ul>
    </div>

    <div class="post-content">
        <p>
            {{ .Content }}
        </p>
        {{ if .Site.DisqusShortname }}
        <div class="post-comments">
            {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
    </div>

    <div class="prev-next">
        {{ if eq .Site.Params.TogglePreviousAndNextButtons "true" }}
            {{ if or .PrevInSection .NextInSection }}
                {{ partial "prev-next.html" . }}
            {{ end }}
        {{ end }}
    </div>
</div>
