<div class="post container">
    <div class="post-header-section">
        <h1>{{ .Title }}</h1>
        <small role="doc-subtitle">{{ .Title }}</small>
        <p class="post-date">
            {{ dateFormat "January, 2006" .Date }}{{ if lt .Date .Lastmod }} | Updated {{ dateFormat "January, 2006" .Lastmod }}{{ end }}
        </p>
        <small role="post-state"><i>{{ .Params.state }}</i></small>
        
        <ul class="post-tags">
            <li class="post-tag"><a href="{{.Params.Link}}">Link</a></li>
            <li class="post-tag" onclick="openForm()"><a href="" style="pointer-events: none; cursor: pointer;">Cite</a></li>
        </ul>
        <div class="form-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
                <div id="backgroundOverlay"></div>
                <h2>Cite</h2>
                <div>
                    <embed src="{{ urls.JoinPath .Section .File.BaseFileName | absURL }}.txt" id="citeObject" class="cite-background" type="text/html" style="color:blue;text-align:center">
                </div>
                <button type="copy" class="btn copy" onclick="copyCite()"><span data-feather='copy'></span> &nbsp;Copy</button>
                <a href="{{ urls.JoinPath .Section .File.BaseFileName | absURL }}.bib" download="{{.File.BaseFileName}}.bib" class="btn download" >&nbsp;<span data-feather='download'></span> Download</a>
                <button type="button" class="cancel" onclick="closeForm()"><span data-feather='x'></span></button>
            </form>
        </div>
    </div>
    
    <div class="post-content">
        <p>
            <div style="text-align: justify"> {{ .Content }} </div>
        </p>
        {{ if .Site.DisqusShortname }}
        <div class="post-comments">
            {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
    </div>

    <div class="prev-next">
        {{ if eq .Site.Params.TogglePreviousAndNextButtons "true" }}
            {{ if or .PrevInSection .NextInSection }}
                {{ partial "prev-next.html" . }}
            {{ end }}
        {{ end }}
    </div>
</div>
